/* custom css rules */

body {
    height: 100%;
    font-family: "Avenir Next";
    padding: 20px;
}

h1 {
    font-size: 75px;
    font-family: "Avenir Next", serif;
}

h2 {
    font-size: 50px;
    font-family: "Avenir Next", serif;
}

/*********************/
/*   RANGE SLIDER    */
/*********************/

.slider-container {
    width: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #BA68C8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #BA68C8;
    cursor: pointer;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
